.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: #2e363e;
}

@keyframes notificationAnimation{
  0%{
    transform: none;
  }
  50%{
    transform: translateX(-5px) rotateY(360deg);
  }
  100%{
    transform: none;
  }
}


.nav__notification{

  position: absolute;
  left: 15px;
  bottom: 15px;
  animation: notificationAnimation 3s ease-in-out infinite;

}
.nav__point{
  color: tomato;
  font-size: 50px;
  position: absolute;
  left: 25px;
  bottom: 25px;
}